<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="w-screen min-h-screen max-h-screen flex flex-col">
   <nav class="flex flex-row items-center justify-between bg-blue-400 px-6 py-2 w-full h-fit text-white font-semibold">
      <div>
        <span class="text-2xl font-bold">Attendance System</span>
      </div>
      <div class="flex items-center gap-6 justify-center">
        <ul class="list-none flex items-center gap-6 justify-center">
           <li><a href="/">Home</a></li>
           <li><a href="/attendance">Attendance</a></li>
           <li><a href="/students">Students</a></li>
           <li><a href="/dashboard">Dashboard</a></li>
           <li class="relative">
               <button class="bg-blue-600 px-4 py-1 rounded-lg">Profile</button>
               <div class="absolute hidden group-hover:block bg-white text-black rounded shadow-lg mt-2">
                   <a href="/switch_course" class="block px-4 py-2 hover:bg-gray-100">Switch Course</a>
                   <a href="/login" class="block px-4 py-2 hover:bg-gray-100">Logout</a>
               </div>
           </li>
        </ul>
      </div>
    </nav>
    <div class="flex-1">
        {% block content %}{% endblock %}
    </div>
    <div class="w-full flex items-center justify-center text-center py-4">
        <p>© 2025 My Flask App</p>
    </div>
</body>
</html>